@import 'styles/variables';

$legend-width: 160px;

.BudgetLineChart {
  height: 100%;

  &__legend {
    border-radius: $spacer * 0.5;
    border: 1px solid $lightgrey-text;
    padding: $spacer * 0.5 $spacer;
    background-color: white;
    min-width: $legend-width;
    height: fit-content;
    position: absolute;
    left: calc(30% + 30px);
    top: -$spacer * 2;
    transform: translateX(-50%);
    z-index: 9;
  }

  &__legend-color {
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    min-width: $spacer * 0.7;
    height: $spacer * 0.7;
    padding: 3px;
    margin-right: $spacer * 0.5;
  }

  &__chart {
    flex: 1 1 240px;
    position: relative;
    margin-top: $spacer * 2;
    height: 240px;
  }
}
