@import 'styles/variables';

.ChemicalLocation {
  &__map {
    height: 300px;
  }

  &__color-bar {
    flex-grow: 1;
    background-image: linear-gradient(to right, white, $blue);
    border: 1px solid #ddd;
  }
}
