@import 'styles/variables';

.OverviewAlertItem {
  background: $grey-background;
  padding: 10px;
  &__header-icon-info {
    font-size: $component-icon-size;
    margin-right: 5px;
    color: $icon-info;
  }
  &__header-icon-error {
    font-size: $component-icon-size;
    margin-right: 5px;
    color: $icon-error;
  }
  &__header-icon-cog {
    font-size: $component-icon-size;
    margin-right: 5px;
    color: $icon-cog;
  }
  &__header-date {
    color: $lightgrey-text;
  }
  &__header-menu {
    color: $lightgrey-text;
    position: absolute;
    right: 15px;
  }
  &__text {
    p {
      margin-bottom: 0px;
    }
  }
  &:not(:nth-child(4)) {
    margin-bottom: 12px;
  }
}
