@import 'styles/variables';

.WaterPollutionReport {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $spacer;
  }

  &__header-control-box {
    display: flex;
    flex-wrap: wrap;
  }

  &__dropdown {
    min-width: 3em;
    margin: 0 $spacer * 0.5 $spacer * 0.5 0;
  }
}
