@import 'styles/variables';

$chemicals: (
  'temp': $yellow,
  'cl2': $blue,
  'conductivity': $red,
  'ph': $green,
  'turbidity': $teal,
  'radioactive': $magenta,
  'microbial': $blue-dark
);

.ChemicalChoice {
  position: relative;
  display: inline-block;
  margin: -$spacer * 0.25;

  &__chemical {
    cursor: pointer;
    display: inline-block;
    transition: color 0.3s ease;
    width: 2rem;
    height: 2rem;
    margin: $spacer * 0.25;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  @each $value, $color in $chemicals {
    &__#{$value} {
      &.active {
        color: $color;
      }

      &:hover {
        color: lighten($color, 20%);
      }
    }
  }
}
