@import 'styles/variables';

.ResourceOptimizationFirst {
  &__row-spacer {
    margin: -$spacer * 0.5 0;
  }

  &__col-spacer {
    padding: $spacer * 0.5 0;
  }

  &__calendar {
    margin: auto;
    max-width: 400px;
  }
}
