@import 'styles/variables';

.SliderArrow {
  cursor: pointer;

  &:before {
    content: none !important;
  }

  &__main {
    color: $grey-background;
    transition: ease 0.5s color;

    &--xs {
      font-size: 1rem;
    }

    &--sm {
      font-size: 1.2rem;
    }

    &--md {
      font-size: 1.5rem;
    }

    &--lg {
      font-size: 2rem;
    }

    &--xl {
      font-size: 2.5rem;
    }

    &:hover {
      color: $body-color;
    }
  }

  &__left {
    right: 0;
  }

  &__right {
    left: 0;
  }
}

.slick-arrow {
  .SliderArrow__main {
    position: absolute;
  }
}
