@import 'styles/variables';

@mixin col {
  flex-basis: 0 !important;
  flex-grow: 1 !important;
  max-width: 100% !important;
}

@mixin fixed-widget($width) {
  flex-grow: 0 !important;
  flex-shrink: 0;
  flex-basis: $width !important;
}

$bottom-split-color: lighten($component-grey-border, 20%);

.Personnel {
  &__first-row-card {
    height: 100%;
    min-height: 30em;
  }

  &__map,
  &__slider {
    @include mq($from: mobile, $until: tablet) {
      @include col;
    }

    @include mq($from: desktop) {
      @include col;
    }
  }

  &__slider {
    min-width: 0;
    padding: $spacer * 0.5 $spacer !important;
  }

  &__calendar {
    @include mq($from: desktop) {
      @include fixed-widget(30em);
    }

    @include mq($from: mobile, $until: tablet) {
      @include fixed-widget(30em);
    }
  }

  &__row-spacer {
    margin: -$spacer * 0.5 0;
  }

  &__col-spacer {
    padding: $spacer * 0.5 0;
  }

  &__row-bottom {
    margin-top: $spacer;
    margin-right: -$spacer !important;
    margin-bottom: -$spacer;
    margin-left: -$spacer !important;
    background-color: white;
  }
}
