@import 'styles/variables';

.Technicians {
  &__title-container {
    margin-bottom: 10px;
  }

  &__title {
    color: $component-title;
  }

  &__col {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__header-divider {
    color: $component-title;
    font-weight: $component-header-divider-weight;
    font-size: $component-header-divider-size;
  }

  &__sub-title {
    color: $component-sub-title;
  }

  &__col-status {
    line-height: 1.15rem;
  }

  &__status-text {
    color: $component-title;
  }
}
